#left{
    max-width: 260px;
    /* left:  */
}

#main{
    max-width: 620px;
}
darkMain{
    max-width: 620px;
    background-color: black;
    color: white;
}
#right{
    max-width: 250px;
    margin-top: 16px;
}

.backImage{
    width: 100%;
    border-radius:9px 9px 0px 0px ;
    object-fit: contain;
}

#profileIcon{
    display: flex;
    justify-content: center !important;
    align-items: center;
    padding-left: 9px;
    gap: 5px;
}
#menuProfileIcon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 9px;
    gap: 5px;
}
.userInfo{
    text-align: center;
    margin-top: -26px;
}

#leftSide1,#leftSide2,#rightSide1,#rightSide2,#mainInfo,.user_card{
    background-color: white;
    border-radius: 9px;
    color:#7f7e7e;
}
.profileInfo{
    text-align: left;
    padding-left: 10px;
}
.bookmark{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
}
#leftSide2{
    margin-top: 15px;
}
#leftInfoHead{
    display: flex;
    align-items: center;
    font-size: 14px;
    
    padding-left: 5px;
}
.leftInfoData{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    gap: 5px;
    padding-left: 7px;
    
}
@media screen and (max-width: 600px) {
    #mainContent {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
    }
    
    #main {
      max-width: 98%;
    }
  }
  
  /* For screens larger than 1024px */
  @media (min-width: 1025px) {
    #mainContent {
      justify-content: center;
      margin-top: 60px;
    }
    
    #main {
      max-width: 620px;
    }
  }
#leftMoreBtn{
    width: 100%;
    border: none;
    background-color: white;
    color: #7f7e7e;
    cursor: pointer;
    outline: none;
    padding: 7px;
    font-size: 12px;
    font-weight: 600;
}
#mainContent{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    /* margin: 12px; */
    gap: 12px;
    padding: 5px;
  }
#mainInfo{
    margin: 5px;
    padding: 18px;
}
.mainDarkInfo{
    color: white;
    background-color: black;
    margin: 5px;
    padding: 18px;
    max-width: 620px;
}
.mainHead1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 22px;
}
.mainHead2{
        display: flex;
        justify-content: space-around;
        align-items: flex-end;
        text-align: center;
        margin: 10px;
}



.mainIconData:first-child{
    color: blue;
}
.mainIconData:nth-child(2){
    color: orangered;
}
.mainIconData:nth-child(3){
    color: orange;
}
.mainIconData:nth-child(4){
    color: red;
}

.IconData{
    padding-left: 5px;
    color: #7f7e7e;
    font-weight: 600;
}
.mainIconData{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 3px;
}
#mainSearch{
    padding: 0 17px;
    width: 420px;
 
}

.mainSearchPost{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
}
.mainSearchPostDark{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 3px gray;
    border: 1px solid gray;
    outline: none;
}
.mainSearchComment{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
}
.mainSearchCommentDark{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 3px gray;
    outline: none;
}
#rightHead{
    display: flex;
    justify-content: space-between;
    padding: 0 12px;
    align-items: center;
}
#newsList{
    font-weight: 800;
    text-align: left;
    margin-top: -10px;
    margin-left: -7px;
    padding-bottom: 10px;
}
#newsList li:nth-child(even){
    list-style-type: none;
    margin-bottom: 5px;
    font-weight: 100;
}
#rightSectionHead2{
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
#rightSection2Content{
    text-align: center;
    padding: 3px;
}
#rightSideLearnMoreBtn{
    margin: 12px;
    padding: 8px 12px;
    border: 1px solid blue;
    cursor: pointer;
    border-radius: 20px;
    color: blue;
    background-color: white;
}

#renderPosts{
    margin:5px;
}

.infoCard{
    background-color: white;
    padding: 18px;
    margin: 12px 0;
    border-radius: 9px;
}
.infoCardDark{
    padding: 18px;
    margin: 12px 0;
    border-radius: 9px;
    background: black;
    color: white;
    box-shadow: 0px 0px 5px grey;
}
.user_info{
    display: flex;
    align-items: center;
}
.userHead{
    margin-left: 12px;
    width: 100%;
}

.userName{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0;
}
.userNameLink{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.userNameDark{
    font-size: 16px;
    font-weight: 700;
    background-color: black;
    color: white;
}
.postTime{
    display: flex;
    font-size: 10px;
    align-items: center;  
    margin: 0;
}

.userCaption{
    font-weight: 600;
}
.contentImg{
    width: 100%;
    /* object-fit: cover; */
}
.postReaction{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.interactiveIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.interactiveIcons_custom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.groupBtnComment{
    margin-left: -83px !important;
    width: 10px !important;
}

@media screen and (max-width: 500px) {
    .groupBtnComment{
        margin-left: -120px !important;
    }
    
    .mainSearchComment{
        width: 77%;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid gray;
        outline: none;
    }
  }

.visibleComment{
    height: 0;
    overflow: hidden;
}

.darkModeMain{
    background-color: black !important;
    color: white !important;
    box-shadow: 0px 0px 5px gray;
}

.commentSection{
    max-height: 250px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.commentSection::-webkit-scrollbar {
    width: 20px;
  }
  .makeEdit{
    width: 100%;
  }
.editCommentInputBox{
  width: 90%;
  margin: 7px 0px;
  /* margin-right: 22px; */
  background: #F7EDEB;
  border: 0.5px solid lightgrey;
  padding: 4px;
  border-radius: 8px;
  font-size: 14px;
  outline: 1px solid gray;
  }
  .editPost{
    width: 100%;
  }
  .editPostInput{
    width: 90%;
  margin-bottom: 7px;
  /* margin-right: 22px; */
  background: white;
  border: none;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
  outline: 2px solid lightgray;

  }
  .editPostInputDark{
    width: 90%;
  margin-bottom: 7px;
  /* margin-right: 22px; */
  background: black;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 8px;
  font-size: 14px;
  outline: 2px solid lightgray;

  }
