.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 2px;
    transition: all ease 0.7s;
}
.icon:hover{
    color: black;
}
.meIcon{
    border-bottom: none;
}
#navigation{
    box-sizing: border-box;
    height: 57px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 0.1px 5px grey;
}
.search{
    display: flex;
    align-items: center;

}
#profile{
    display: flex;
    align-items: center;
    cursor: pointer;
}
#menu{

    width: 20px;
    height: 20px;
    padding: 0%;
    margin: 0%;
    margin-left: 5px;
    border: none;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#search{
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    outline: none;
}
#searchBar{
    border: none;
    width: 100%;
    background-color: darkslategray;
    color: white;
    outline: none;
}
.search{
    width: 210px;
    background-color: #f2f2f2;
    padding: 5px;
    box-sizing: border-box;
}
.searchBar{
    width: 210px;
    background-color: darkslategray;
    display: flex;
    box-sizing: border-box;
    color: white;
    padding: 5px;
}
@media screen and (max-width: 400px){
    .search, .searchBar{
        width: 165px;
    }
}



#me-btn{
    background-color: white;
    color: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 1s;
}

#profileIcon{
    display: flex;
    justify-content: flex-start !important;
    align-items: center;
    padding-left: 9px;
    gap: 5px;

}
#viewProfile-btn{
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    background: white;
    width: 80%;
    border-radius: 20px;
    color: blue;
    border: 1px solid blue;
    cursor: pointer;
}
#viewProfile-btn:hover{
    background-color: rgba(248, 238, 238, 0.63);
}

a{
    text-decoration: none;
    color: gray;
}

.menuText{
    font-size: 12px;
    font-weight: 500;
}
@media screen and (min-width:600px) {
    .extraMsg{
        display: none;
    }
    
}
#signOut-btn{
    color: gray;
    border: none;
    background: white;
    cursor: pointer;
}

.mode{
    background-color: rgb(14, 13, 13) !important;
    color: white !important;
}
.navIcon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5px;
    margin-right: 6px;
    transition: all ease 0.7s;
}
.navIcon:hover{
    color: white !important;
    
}